In [1]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark.conf.set("spark.sql.shuffle.partitions", "5")
print("SparkSession created with name as 'spark'")

SparkSession created with name as 'spark'

#### Dataframe  Creation

In [2]:
#df=spark.read.format("json").load("../../../data/SparkTheDefinitiveGuide/flight-data/json/2015-summary.json")
df=spark.read.json("../../data/jose_portilla/Spark_DataFrames/people.json")

	df.collect()
	df.coalesce(1).rdd.getNumPartitions()
	df.count()
	df.createGlobalTempView(
	df.distinct().count()
	df.drop('age').collect()
	df.join(df2, df.name == df2.name, 'inner').drop(df2.name).collect()
	df.dropDuplicates().show()
	df.dtypes
	df.explain()
	df.filter(df.age>3).collect()
	df.where(df.age==2).collect()
	df.first()
	df.foreach(f)
	df.foreachPartition(f)
	df.head()
	df.join(df2,'name','outer').select('name','height').collect()
	df.limit(1).collect()
	df.orderBy(df.age.desc()).collect()
	df.persist(StorageLevel.DISK_ONLY_2).storageLevel
	df.printSchema()
	df.registerTempTable("people")
	df.repartition(10).rdd.getNumPartitions()
	df.rollup("name",df.age).count().orderBy("name","age").show()
	df.sample(False,0.5,42).count()
	df.schema
	df.select('*').collect()
	df.selectExpr("age*2","abs(age)").collect()
	df.sort(df.age.desc()).collect()
	df.sortWithinPartitions("age",ascending=False).show()
	df.storageLevel,df.cache().storageLevel
	df.take(2)
	df.toDF('f1','f2').collect()
	df.toJSON().first()
	df.union(df).repartition("age")
	df.withColumn('age2',df.age+2).collect()

In [3]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [4]:
df.columns
#type(df.columns) : List

['age', 'name']

In [5]:
df.count()

3

In [6]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [7]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [8]:
df.describe().show() # one less count for age because of one null value

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [9]:
df['age'] # A column

Column<b'age'>

In [10]:
type(df['age'])

pyspark.sql.column.Column

In [11]:
df.select('age') # A DF

DataFrame[age: bigint]

In [12]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [13]:
df.collect()

[Row(age=None, name='Michael'),
 Row(age=30, name='Andy'),
 Row(age=19, name='Justin')]

In [14]:
df.limit(10).collect()

[Row(age=None, name='Michael'),
 Row(age=30, name='Andy'),
 Row(age=19, name='Justin')]

In [15]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [18]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType
data_schema = [StructField("age", IntegerType(), True),StructField("name", StringType(), True)]
final_struc = StructType(fields=data_schema)
df = spark.read.json('../../data/jose_portilla/Spark_DataFrames/people.json', schema=final_struc)
df.printSchema() # notice difference from #3 age: long (nullable = true)

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [19]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [21]:
df.withColumn('newage',df['age']*10).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|   300|
|  19| Justin|   190|
+----+-------+------+

In [22]:
df.withColumnRenamed('age','supernewage').show()

+-----------+-------+
|supernewage|   name|
+-----------+-------+
|       null|Michael|
|         30|   Andy|
|         19| Justin|
+-----------+-------+

### SQL

In [23]:
df.createOrReplaceTempView("people")
spark.sql("SELECT * FROM people").show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+