In [ ]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.getOrCreate()
spark.conf.set("spark.sql.shuffle.partitions", "5")#When we perform a shuffle, Spark outputs 200 shuffle partitions.
print("SparkSession created with name as 'spark'")

####  Create Dataframe

In [ ]:
myRange = spark.range(1000).toDF("number")
myRange.collect()

In [ ]:
data = [("Java", "20000"), ("Python", "100000")] 
spark.createDataFrame(data).collect()

In [7]:
rdd = spark.sparkContext.parallelize(data)
spark.createDataFrame(rdd).collect()

[Row(_1='Java', _2='20000'), Row(_1='Python', _2='100000')]

In [10]:
df=spark.read.json("../data/people.json")
df.collect()

[Row(age=None, name='Michael'),
 Row(age=30, name='Andy'),
 Row(age=19, name='Justin')]

In [18]:
flightData2015 = spark.read.option("inferSchema", "true")\
.option("header", "true").csv("../../../../hadoopedge/bigdata/modules/spark/git/data/SparkTheDefinitiveGuide/flight-data/csv/2015-summary.csv")
#flightData2015.head(3)
flightData2015.take(3)

[Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Romania', count=15),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Croatia', count=1),
 Row(DEST_COUNTRY_NAME='United States', ORIGIN_COUNTRY_NAME='Ireland', count=344)]