In [1]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [2]:
from pyspark.sql import Row
from pyspark.sql.functions import instr,col,column, expr, coalesce, broadcast
from pyspark.sql.functions import count, first, last,min, max, sum, avg, sumDistinct,sum_distinct, pow, desc, countDistinct, approx_count_distinct, dense_rank, rank
from pyspark.sql.functions import corr, round, bround, monotonically_increasing_id, mean, format_number, var_pop, stddev_pop,var_samp, stddev_samp, skewness, kurtosis, covar_pop, covar_samp
from pyspark.sql.functions import initcap , lower, upper, lit, ltrim, rtrim, rpad, lpad, trim, regexp_replace, regexp_extract, translate, collect_set, collect_list
from pyspark.sql.functions import when,current_date, current_timestamp, date_add, date_sub, datediff, to_date, months_between, dayofmonth,hour,dayofyear,month,year,weekofyear,date_format
from pyspark.sql.window import Window

In [3]:
spark.catalog.listDatabases()

[Database(name='default', description='default database', locationUri='file:/F:/git/spark/pyspark/jupyter/2022/02-GHTorrent/spark-warehouse')]

In [11]:
df=spark.read.csv("../../data/bank.csv",sep=';',inferSchema=True,header=True)
df.drop('education','poutcome').show()
df.groupby('deposit').count().show()

+---+------------+--------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+-------+
|age|         job| marital|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|deposit|
+---+------------+--------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+-------+
| 58|  management| married|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0|     no|
| 44|  technician|  single|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0|     no|
| 33|entrepreneur| married|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0|     no|
| 47| blue-collar| married|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0|     no|
| 33|     unknown|  single|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0|     no|
| 35|  management| married|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0|     no|
| 28|  management|  single|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0|     no|
| 42|entrepreneur|divorced|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0|     no|
| 58|     retired| married|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0|     no|
| 43|  technician|  single|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0|     no|
| 41|      admin.|divorced|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0|     no|
| 29|      admin.|  single|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0|     no|
| 53|  technician| married|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0|     no|
| 58|  technician| married|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0|     no|
| 57|    services| married|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0|     no|
| 51|     retired| married|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0|     no|
| 45|      admin.|  single|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0|     no|
| 57| blue-collar| married|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0|     no|
| 60|     retired| married|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0|     no|
| 33|    services| married|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0|     no|
+---+------------+--------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+-------+
only showing top 20 rows

+-------+-----+
|deposit|count|
+-------+-----+
|     no|39922|
|    yes| 5289|
+-------+-----+