#### Guiding Questions:
Who are the winners of the D1 division in the Germany Football Association (Bundesliga) in the last decade?

Which teams have been relegated in the past 10 years?

Does Octoberfest affect the performance of Bundesliga?

Which season of Bundesliga was the most competitive in the last decade?

What's the best month to watch Bundesliga?

In [2]:
import findspark
findspark.init()
import pyspark


from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [3]:
from pyspark.sql import Row
from pyspark.sql.functions import instr,col,column, expr, coalesce, broadcast
from pyspark.sql.functions import count, first, last,min, max, sum, avg, sumDistinct,sum_distinct, pow, desc, countDistinct, approx_count_distinct, dense_rank, rank
from pyspark.sql.functions import corr, round, bround, monotonically_increasing_id, mean, format_number, var_pop, stddev_pop,var_samp, stddev_samp, skewness, kurtosis, covar_pop, covar_samp
from pyspark.sql.functions import initcap , lower, upper, lit, ltrim, rtrim, rpad, lpad, trim, regexp_replace, regexp_extract, translate, collect_set, collect_list
from pyspark.sql.functions import when,current_date, current_timestamp, date_add, date_sub, datediff, to_date, months_between, dayofmonth,hour,dayofyear,month,year,weekofyear,date_format
from pyspark.sql.window import Window

In [4]:
df_matches  = spark.read.csv('data/Matches.csv',inferSchema=True,header=True)
df_teams  = spark.read.csv('data/Teams.csv',inferSchema=True,header=True)
df_team_matches  = spark.read.csv('data/Teams_in_Matches.csv',inferSchema=True,header=True)
df_team_id  = spark.read.csv('data/Unique_Teams.csv',inferSchema=True,header=True)

In [5]:
df_matches.show(5)
df_teams.select('*').show(5)
df_team_matches.show(5)
df_team_id.show(5)

+--------+---+------+-------------------+-------------+--------------+----+----+---+
|Match_ID|Div|Season|               Date|     HomeTeam|      AwayTeam|FTHG|FTAG|FTR|
+--------+---+------+-------------------+-------------+--------------+----+----+---+
|       1| D2|  2009|2010-04-04 00:00:00|   Oberhausen|Kaiserslautern|   2|   1|  H|
|       2| D2|  2009|2009-11-01 00:00:00|  Munich 1860|Kaiserslautern|   0|   1|  A|
|       3| D2|  2009|2009-10-04 00:00:00|Frankfurt FSV|Kaiserslautern|   1|   1|  D|
|       4| D2|  2009|2010-02-21 00:00:00|Frankfurt FSV|     Karlsruhe|   2|   1|  H|
|       5| D2|  2009|2009-12-06 00:00:00|        Ahlen|     Karlsruhe|   1|   3|  A|
+--------+---+------+-------------------+-------------+--------------+----+----+---+
only showing top 5 rows

+------+-------------+---------+----------+------------------+----------------------+------------------+---------------+
|Season|     TeamName|KaderHome|AvgAgeHome|ForeignPlayersHome|OverallMarketValueHome|AvgMarketValueHome|StadiumCapacity|
+------+-------------+---------+----------+------------------+----------------------+------------------+---------------+
|  2017|Bayern Munich|       27|        26|                15|             597950000|          22150000|          75000|
|  2017|     Dortmund|       33|        25|                18|             416730000|          12630000|          81359|
|  2017|   Leverkusen|       31|        24|                15|             222600000|           7180000|          30210|
|  2017|   RB Leipzig|       30|        23|                15|             180130000|           6000000|          42959|
|  2017|   Schalke 04|       29|        24|                17|             179550000|           6190000|          62271|
+------+-------------+---------+----------+------------------+----------------------+------------------+---------------+
only showing top 5 rows

+--------+--------------+
|Match_ID|Unique_Team_ID|
+--------+--------------+
|       1|            26|
|       1|            46|
|       2|            26|
|       2|            42|
|       3|            26|
+--------+--------------+
only showing top 5 rows

+-------------+--------------+
|     TeamName|Unique_Team_ID|
+-------------+--------------+
|Bayern Munich|             1|
|     Dortmund|             2|
|   Leverkusen|             3|
|   RB Leipzig|             4|
|   Schalke 04|             5|
+-------------+--------------+
only showing top 5 rows

In [14]:
df1 = df_matches.withColumn('month',month(df_matches.Date))
df2=df1.groupby('month').agg(count(col('month')),sum('FTHG'),sum('FTAG'))
df2.show()

+-----+------------+---------+---------+
|month|count(month)|sum(FTHG)|sum(FTAG)|
+-----+------------+---------+---------+
|   12|        2614|     3859|     2842|
|    1|        1331|     1901|     1360|
|    6|         128|      253|      186|
|    3|        2732|     4148|     2897|
|    5|        2075|     3502|     2502|
|    9|        2528|     3892|     2843|
|    4|        3233|     4793|     3439|
|    8|        2266|     3335|     2590|
|    7|         107|      121|       81|
|   10|        2542|     3992|     2813|
|   11|        2646|     4066|     2884|
|    2|        2423|     3495|     2589|
+-----+------------+---------+---------+

In [20]:
df3 = df_matches.withColumn('year',year(df_matches.Date))
df4=df3.groupby('year').agg(count(col('year')),sum('FTHG'),sum('FTAG'))
df4.show()

+----+-----------+---------+---------+
|year|count(year)|sum(FTHG)|sum(FTAG)|
+----+-----------+---------+---------+
|2003|        970|     1535|     1136|
|2007|        976|     1548|     1135|
|2018|        297|     -297|     -297|
|2015|        992|     1440|     1147|
|2006|       1008|     1496|     1064|
|2013|        983|     1517|     1217|
|1997|       1029|     1678|     1146|
|1994|       1078|     1743|     1229|
|2014|        993|     1525|     1196|
|2004|       1004|     1638|     1132|
|1996|        968|     1527|     1061|
|1998|        981|     1509|     1091|
|2012|       1003|     1582|     1202|
|2009|        980|     1518|     1139|
|2016|        963|     1495|     1164|
|1995|       1056|     1681|     1145|
|2001|        985|     1553|     1163|
|2005|        985|     1528|     1125|
|2000|       1024|     1765|     1186|
|2010|        985|     1584|     1121|
+----+-----------+---------+---------+
only showing top 20 rows